/Semana1/build/
/Semana2/nbproject/private/
/Semana2/build/
/Semana2/dist/
/Semana2Client/nbproject/private/
/Semana2Client/build/
/Semana2Client/dist/
/Semana3/nbproject/private/
/Semana3/build/
/Semana3/dist/
